.setting-source-block {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.selector-block {
    display: flex;
    column-gap: 2vw;
}

.collapse-row {
    display: flex;
    column-gap: 1vw;
}

.input-filter-parameter {
    outline: none;
    border-radius: var(--rounded);
    width: 100%;
    box-sizing: border-box;
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
}

.input-filter-parameter:focus {
    border: var(--control-border-width) solid var(--color-control-bg-border-default);
}

.filter-block {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    align-items: flex-start;
}