.grid-field {
    background-color: var(--color-bg-default);
    width: 100%;
    height: 80vh;
    box-shadow: gray 0 0 15px 0px;
    border-radius: var(--rounded);
}

.grid-element {
    background-color: var(--color-bg-ghost);
    box-shadow: lightgray 0 0 15px 1px;
    border-radius: var(--rounded);
}