.filterConfigurator {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    column-gap: 0.5vw;

    font-size: 0.75em;
}

.filterConfiguratorItemS {
    /*border: 1px solid black;*/
    flex: 1 1 100px;

    border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);
}
.filterConfiguratorItemM {
    /*border: 1px solid black;*/
    flex: 4 1 100px;

    border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);
}
.filterConfiguratorItemL {
    /*border: 1px solid black;*/
    flex: 20 1 100px;

    border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);
}

.filterConfiguratorField {
    /*all: unset;*/
    /*min-width: 6em;*/

    /*background-color: var(--color-bg-ghost);*/
    /*border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);*/
}

.filterConfiguratorControl {
    /*all: unset;*/
    /*min-width: 4em;*/

    /*border-bottom: var(--control-border-width) solid var(--color-control-bg-border-default);*/
}