.baseBlock {

}

.editTools {
    padding-bottom: 1vw;
}

.filterComplex {
    display: flex;
    flex-direction: column;
    row-gap: 0.5vh;
    /*align-items: flex-start;*/
    flex-grow: 1;

    /*border-radius: var(--rounded-m);*/
}

.filterComplexFiled {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    /*align-items: flex-start;*/
    flex-grow: 1;
    padding-left: 2vw;
}

.filterButtonBlock {
    display: flex;
    flex-direction: row;
    column-gap: 0.2vw;
}