.app {
  color: var(--color-typo-primary);
  background-color: var(--color-bg-system);
  transition: transform .2s ease-in-out;
}

.main {
  gap: 10em;
  padding: 2vh 2vw;
  height: 800px;
  color: var(--color-typo-primary);
}