.app {
  background-color: var(--color-bg-system);
  transition: transform .2s ease-in-out;
  height: 100vh;
  flex-grow: 1;

  color: var(--color-typo-primary);
}

.main {
  gap: 4em;
  padding: 2vh 2vw;

  color: var(--color-typo-primary);
}

.block {
}